* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: #3d3d3d;
}

//global reset
ul {
  list-style-type: none;
}

@import "./_classes.scss";

//nav bar start here
header {
  height: 80px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0000002f;
  color: white;
  transition: 0.5s;
  .wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .brand-name {
    a {
      color: inherit;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
  .navbar {
    .nav-links {
      display: flex;
      .nav-link__item {
        margin: 0.5rem;
        a {
          color: inherit;
          text-decoration: none;
          padding: 1rem;
          text-transform: capitalize;
          font-size: 1.2rem;
        }
      }
    }
  }
  .mobile-menu,
  .mobile-nav {
    display: none;
  }
}
.haeder-dark {
  background-color: rgba(0, 0, 0, 0.918);
  color: white;
}
section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4rem;
  position: relative;
  background-size: cover;

  h1 {
    position: relative;
    z-index: 5;
  }
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #17171abb, #85939849);
  }
}

@import "./media";
